body{
    font-family:'Helvetica Neue', sans-serif;
    display:flex;
}

main{
    width:100% - 300px;
}

#ui-holder{
    width: 300px;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    /* filter: drop-shadow(4px 4px 0px rgb(155, 155, 155)); */
}

.field {
    font-weight:bold;
    padding:10px 0px 10px 0px;
}

#ui-holder input{
    width: 100%;
    border-style:solid;
    border-width:1px;
    border-color:rgb(201, 201, 201);
    border-radius:4px;
}

#generate-button{
    width: calc(100% - 20px);
    background-color: rgb(26, 26, 26);
    color: white;
    font-size:16px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    text-transform: uppercase;
    padding:4px;
}

#generate-button :active{
    background-color: rgb(191, 191, 191);
}

#min-max div div{
    display:inline-block;
    width: 40%;
    font-size:11px;
    text-transform: uppercase;
    font-weight:normal;
}

#min-max div input{
    width:40px;
}

#save-buttons{
    display:flex;
}

#upload-field div{
    display:flex;
}

#upload-button{
    width:100px !important;
    margin-left:10px;
}
